@import "../../../../assets/styles/variable.scss";

.component_container {
  .bg_GreenGradient {
    background: $Primary_RedGradient;
    width: 100%;
    height: 330px;
  }
}
.title_candidates {
  color: white;

  p {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 35px;
    // font-weight: 700;
  }
}
.filters_container {
  color: white;
  padding-top: 30px;
  font-size: 14px p {
    font-weight: 700;
    letter-spacing: 2px;
  }
  .Bussiner_Filter {
    // *****************search bussiness function *****************
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
    }

    .search__input {
      font-family: inherit;
      font-size: inherit;
      height: 50px;
      background: $Primary_RedGradient;
      border: 1px solid white;
      color: #ffffff;
      padding: 0.7rem 2rem 0.7rem 0.7rem;
      border-radius: 10px;
      width: 25em;
      transition: all ease-in-out 0.5s;
      margin-right: -2rem;
    }

    .search__input:hover,
    .search__input:focus {
      box-shadow: 0 0 1em #00000013;
    }

    .search__input:focus {
      outline: none;
      background-color: #f0eeee;
    }

    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ffffff;
      font-size: 14px;
      letter-spacing: 1px;
    }

    .search__input:focus + .search__button {
      background: none;
    }

    .search__button {
      border: none;
      background: none;
      margin-top: 0.1em;
    }

    // .search__button:hover {
    //   cursor: pointer;
    // }

    .search__icon {
      height: 1.3em;
      width: 1.3em;
      fill: #b4b4b4;
    }
  }
  .Level_filter {
    padding-left: 30px;
  }

  // *************EVAluation  HTML SELECT filter*************

  // .evaluation_Dropdwon {
  //   position: relative;
  //   width: 100%; /* Adjust the width as needed */
  // }

  // .evaluation_Dropdwon::after {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   right: 4%;
  //   transform: translateY(-50%);
  //   /* Add your icon styles here */
  //   width: 19px;
  //   height: 19px;
  //   background-image: url(../../../../assets/icons/downArrowExpand.svg);
  //   background-size: cover;
  //   filter: invert(100%) brightness(100%) saturate(0%); //SVG color set to white
  // }

  // .evaluation_Dropdwon :focus {
  //   outline: none;
  // }

  // .evaluation_Dropdwon select {
  //   color: white;
  //   cursor: pointer;
  //   width: 100%;
  //   height: 50px;
  //   background: $Primary_greenGradient;
  //   border-radius: 10px;
  //   border: 1px solid white;
  //   padding: 5px 20px 5px 10px; /* Increase the right padding to make space for the arrow */
  //   appearance: none;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  // }

  // .evaluation_Dropdwon option {
  //   color: black;
  // }
}
// ********************evaluation_ MAT DropdwonFilter******************
.evaluation_DropdwonFilter {
  width: 100%;
  .evaluation_DropdwonFilterFile {
    width: 100%;
    // height: 65px;
  }
  .evaluation_select {
    color: rgb(255, 255, 255);
  }

  ::ng-deep .mat-mdc-select-placeholder {
    color: white;
    font-family: $Titillium_Regular;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 3;
  }
  ::ng-deep .mat-mdc-select-arrow {
    color: white;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    color: rgb(129, 17, 17);
  }
  ::ng-deep
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding: 0px;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    // padding: 0;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px !important;
    background: $Primary_RedGradient;
    padding: 4px 10px 0 10px;
  }
  ::ng-deep .mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
    margin: 8px 0px 13px 0px;
    border-radius: 10px;
    background-color: red !important;
  }
  ::ng-deep
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding-top: 2px;
  }
}

// ************************LEVEL DROP DOWN FILTER ******************
.level_DropDownFilter {
  ::ng-deep .mat-mdc-text-field-wrapper {
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    background: $Primary_RedGradient;
    padding: 3px 10px 0 10px;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    color: rgb(129, 17, 17);
  }
  ::ng-deep .mat-mdc-select-placeholder {
    color: white;
    font-family: $Titillium_Regular;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 3;
  }
  ::ng-deep .mat-mdc-select-arrow {
    color: white;
  }
  ::ng-deep
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding-top: 2px;
  }
  :ng-deep .mat-mdc-select {
    padding-top: 10px !important;
  }
}
// **********************SEARCH BUTTON ************************
.search_Btn {
  padding-top: 30px;
}
.search_btn_container {
  text-align: end;
}
.searchbtn {
  background: $Primary_RedGradient; // Sets the  color using $Primary_greenGradient variable.scss
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px 25px 10px 25px;
  font-size: 12px;
  width: 95%;
  height: 50px;
  box-shadow: -2px -8px 13px 5px rgb(255 255 255 /5%);
  border: 0.5px solid $primary_checkBoxColor;
  text-transform: uppercase;
}
// **************************Applicants container******************
.applicants_container {
  padding-top: 75px;
  .applicants_txt_content {
    display: flex;
    p {
      font-size: 2.8vw;
      font-family: $Titillium_Bold;
    }
    justify-content: space-between;
    .add_Applicants_btn {
      background: $Primary_RedGradient; // Sets the  color using $Primary_greenGradient variable.scss
      color: white;
      border: none;
      height: 46px;
      width: 160px;
      border-radius: 30px;
      cursor: pointer;
      padding: 10px 10px 12px 5px;
      font-size: 13px;

      i {
        font-size: 16px;
        padding-right: 5px;
        padding-top: 3px;
      }
    }
  }
}
.applicants_subTxt {
  font-size: 1.1vw;
  padding-top: 20px;
}
// ********************FILTERS CONTAINER ******************
.filter_icon_container {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 20px;
  img {
    width: 24px;
    height: 24px;
  }
}
.filterContainer_icons {
  display: flex;
  gap: 20px;
}
.slectedFilter {
  display: flex;
  gap: 10rem;
}
.scale_loopTxt {
  display: flex;
  gap: 8px;
  width: 100%;
}
// .scale_txt {

// }
.selectedRoles {
  font-size: 13px;
  background: $Primary_greenGrdientReverse;
  border-radius: 50px;
  padding: 7px 13px 7px 13px;
  color: white;
}
// .selectedEvalution {
// }
.filter_icon_block_show {
  width: 32px;
  height: 32px;
  background: $Primary_Blue;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter_Icon_white {
    width: 20px;
    height: 20px;
    cursor: pointer;
    path {
      stroke: white;
    }
  }
}
.filter_icon_block {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter_Icon_white {
    width: 24px;
    height: 24px;
    cursor: pointer;
    path {
      stroke: black;
    }
  }
}

// .search_Icon_white {
// }

.search_icon_block {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .search_Icon_white {
    width: 24px;
    height: 24px;
    cursor: pointer;
    path {
      stroke: black;
    }
  }
}

.search_icon_block_show {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: $Primary_Blue;
  border-radius: 50px;
  justify-content: center;
  .search_Icon_white {
    width: 20px;
    height: 20px;
    cursor: pointer;
    path {
      stroke: rgb(255, 255, 255);
    }
  }
}

// **************************results container******************
.results_container {
  padding-top: 30px;
  .results_header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // place-items: center;
    gap: 20px;
    .results_title {
      font-size: 1.3vw;
      font-family: $Titillium_Bold;
    }
    p {
      font-size: 14px;
      padding-top: 0px;
    }
  }
  .results_filters {
    display: flex;
    gap: 20px;
    p {
      font-family: $Titillium_Regular;
    }
  }
}

.grid_icon_result {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}

// ******************checkbox****************
.mat_checkbox_candidates_header {
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-color: $primary_checkBoxColor;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:focus:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    width: 20px;
    height: 20px;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    color: $primary_checkBoxColor;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    border-color: $primary_checkBoxColor;
    width: 20px;
    height: 20px;
  }

  ::ng-deep .mdc-checkbox .mdc-checkbox__background {
    top: calc((var(--mdc-checkbox-state-layer-size) - 20px) / 2);
    left: calc((var(--mdc-checkbox-state-layer-size) - 20px) / 2);
  }
}
// ******************BULK ACTIONS DROP DOWN*********************
.Bulk_actions {
  img {
    padding-right: 5px;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: #f4f2f0;
    height: 32px;
    width: 170px;
  }
  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 4px;
  }
  ::ng-deep .mat-mdc-select-placeholder {
    color: black;
    font-family: $Titillium_Regular;
    font-size: 13px;
    color: #949494;
    font-weight: 600;
    letter-spacing: 1px;
  }
  ::ng-deep .mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
    font-family: $Titillium_Regular !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
  }
  ::ng-deep .mat-mdc-select-arrow-wrapper {
    display: none;
  }

  ::ng-deep .mat-mdc-select-arrow-wrapper::before {
    content: url("../../../../assets/icons/downArrowExpand.svg");
    /* or */
    /* content: url('../path/to/custom-arrow.png'); */
    /* Replace the default arrow with your custom icon */
    display: visibility;
    width: 20px;
    height: 20px;
  }
}
.Bulk_actions_select_options {
  font-family: $Titillium_Regular;
  font-weight: 500;
  font-size: 12px;
}

.drop_down_arrow_icon {
  right: -10px;
  position: absolute;
}
// **********************RECOMMENDS CARDS************************

.cards_container_recommend {
  padding-top: 25px;
}
.recommend_card {
  background: $Primary_RedGradient;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;

  overflow: hidden;
}
.recommend_card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.candidate_profile_icon {
  color: white;
  font-size: 100px;
  opacity: 0.2;
}

.candidateDummyImg {
  // height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  .candidate_image {
    width: 100%;
    object-fit: cover;
  }
}
.image_overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0.75) 75%
  );
}

// *****************ACTIONS INSIDE THE CARD*****************
.actions_container {
  display: flex;
  position: absolute;
  z-index: 2;

  justify-content: end;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  padding-top: 10px;
  gap: 5px;
}
// ******************checkbox****************
.mat_checkbox_candidates {
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-radius: 3px;
    border: 1px solid white;
    width: 20px;
    height: 20px;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:focus:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    width: 20px;
    height: 20px;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    color: $primary_checkBoxColor;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    border-color: $primary_checkBoxColor;
    width: 20px;
    height: 20px;
  }

  ::ng-deep .mdc-checkbox .mdc-checkbox__background {
    top: calc((var(--mdc-checkbox-state-layer-size) - 24px) / 2);
    left: calc((var(--mdc-checkbox-state-layer-size) - 24px) / 2);
  }
}
// **********************VERTICAL BURGER MENU **********************
.fav_icon {
  height: 30px;
  // margin-top: 3%;
}
.burger_icon {
  height: 22px;
  // margin-top: 4%;
  margin-left: 2%;
}
// **********************CANDIDATES DETAILS************************
.user_details_container {
  position: absolute;
  z-index: 4;

  top: 100px;
  color: white;
  font-size: 24px;
}
.sprint_contiainer {
  position: absolute;
  z-index: 5;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: white;
  top: 125px;
}
// ********************GRAPH CARD**************
.recommend_graph_card {
  background: $cards_Bg;
  width: 100%;
  border-radius: 0 0 20px 20px;
  .title_details {
    text-transform: uppercase;
    margin: 0px;
    font-family: Titillium Web;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .result_details {
    font-family: Titillium Web;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }
}
// *********************filter for status and role******************
.filter_Hide_Show {
  p {
    font-family: $Titillium_Bold;
  }
  padding-top: 30px;
  display: flex;
  gap: 30px;
  .status_filter {
    width: 280px;
    ::ng-deep
      .mat-mdc-form-field-flex
      .mdc-notched-outline
      .mdc-notched-outline__trailing {
      border-radius: 0 25px 25px 0;
    }

    ::ng-deep
      .mat-mdc-form-field-flex
      .mdc-notched-outline
      .mdc-notched-outline__leading {
      border-radius: 25px 0 0 25px;
      width: 25px !important;
    }
    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 40px;
      //   background: $Primary_greenGradient;
      padding: 3px 10px 0 10px;
    }

    ::ng-deep
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined
      .mat-mdc-form-field-infix {
      padding-top: 5px;
    }
  }
}
// ******************roles search INput******************
.role_input_container {
  .role_search_input {
    width: 280px;
    border-radius: 50px;
    height: 40px;
    border: 1px solid black;
    background: none;
    padding: 0.7rem 2rem 0.7rem 0.7rem;
    margin-right: -2rem;
  }
  .role_search_input:focus {
    outline: none;
  }
  .role_search_input::-webkit-input-placeholder {
    font-family: $Titillium_Bold;
  }
}
.serach_button .role_search__button {
  display: flex;
  border: none;
  background: none;
  margin-top: 0.1em;
}

.role_search__icon:hover {
  cursor: pointer;
}

.role_search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
// *********************load more************************
.load_more {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 18px;
}
// *******************paginator**************************
.paginator_roles {
  display: flex;
  justify-content: end;
  align-items: center;
  place-items: end;
  p {
    font-size: 15px;
    font-family: $Titillium_Bold;
  }
}
.page1 {
  background: transparent;
  color: #000;
  padding-top: 10px;
  ::ng-deep .mat-mdc-paginator-page-size {
    display: none !important;
  }

  ::ng-deep .mat-mdc-paginator-icon {
    background: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
  ::ng-deep .mat-mdc-paginator-range-label {
    display: none;
    // font-weight: 500;
    // margin: 12px 0px 0 24px;
    // font-size: 15px;
    // word-spacing: -1.5px;
  }

  ::ng-deep
    .mat-mdc-icon-button:hover
    .mat-mdc-button-persistent-ripple::before {
    display: none !important;
  }

  ::ng-deep
    .mat-mdc-icon-button:active
    .mat-mdc-button-persistent-ripple::before {
    display: none !important;
  }

  ::ng-deep .mat-mdc-button-persistent-ripple .mdc-icon-button__ripple {
    display: none import !important;
  }
}
.filter_icon_block_show1 {
  width: 32px;
  height: 32px;
  background: $Primary_Blue;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter_Icon_white1 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    path {
      stroke: white;
    }
  }
}
.filter_icon_block1 {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter_Icon_white1 {
    width: 24px;
    height: 24px;
    cursor: pointer;
    path {
      stroke: black;
    }
  }
}

#searchform {
  display: inline;
  font-size: 1em;
  // border-radius: 8em;
  // border: 0.1em solid rgba(218, 208, 190, 1);
  // box-shadow: 0 0 0.3em rgba(60, 60, 60, 0.4);
  // padding: 0.3em;
  // background: white;
  height: 40px;

  input[type="text"] {
    top: -5px;
    padding: 6px 0 0 35px;

    // left: 15px;
    position: relative;
  }
  ::placeholder {
    position: relative;
    padding-top: 5px;
  }

  label {
    padding-left: 1px;
    display: inline-block;
    margin-top: 0.3em;
    // color: rgba(218, 208, 190, 1);
    text-shadow: 0 0 0.1em rgba(60, 60, 60, 0.3);
    position: relative;
    left: 2.2em;
    z-index: 999;
  }
}
#s {
  transition: all 0.2s ease-out;
  width: 1px;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  margin: 0;
  padding-bottom: 10px !important;
  border: 0;
  background-color: transparent;
  opacity: 0;
}
#s:focus {
  width: 14em;
  border-radius: 8em;
  border: 0.1em solid rgba(218, 208, 190, 1);
  // box-shadow: 0 0 0.3em rgba(60, 60, 60, 0.4);
  padding: 0.3em;
  background: white;
  opacity: 1;
}
