<div class="bg">
  <div class="row m-0">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
      <img alt="logo" src="../../../assets/images/MayaMaya-Logo.png" />
    </div>
  </div>
</div>

<div class="content">
  <div class="imgg">
    <div class="img1"></div>

    <img
      alt="logo"
      loading="lazy"
      src="../../../assets/images/woman.jpg"
      class="bg_women_img"
    />
    <div class="img_hover">
      <div class="row img-pos1 offset-1">
        <div
          class="col-lg-6 col-xl-6 col-md-6 col-sm-12 ml-5 mt-2 ml-5 mt-2"
          style="z-index: 99"
        >
          <h1 class="head">Welcome to MayaMaya™ for Business</h1>
          <!-- <h3 class="head pt-1"></h3> -->
          <p class="text_12">
            As a business owner or a leader, the patented AI engine in MayaMaya™
            can ensure you achieve three key objectives based on every
            employee's culture-fit and skills
          </p>
          <div class="row ml-2">
            <div class="col-11 ml-2">
              <div class="pt-2 mb-5">
                <p class="text_1">
                  1. Retain more employees by providing your employees the
                  benefit by identifying the best roles, skill gaps and fit for
                  the employee internally for career growth (83% of resignations
                  in 2021)
                </p>
                <p class="text_1">
                  2. Ensure hiring the candidates for the future based on the
                  profiles of your ideal employees for every role within the
                  organization to ensure culture-fit and skill-fit that's right
                  for you
                </p>
                <p class="text_1">
                  3. Increased profitability for CFOs by reducing the cost of
                  attrition/ hiring (~150% in tech, ~205% in healthcare of
                  salary) and improved employee retention
                </p>
                <p class="text_12">
                  Doubles up as a sales tool for seasoned veterans in the
                  knowledge workers industry.
                </p>
                <!-- <p class="text_1">
                    Schedule a meeting if you want to talk to us before trial. We hope
                    to hear from you soon.
                  </p> -->
              </div>
            </div>
          </div>

          <div class="mt-1">
            <p class="ML-2 mt-2 mb-4 talk" style="color: white">TALK TO US</p>
            <button mat-button class="meet">
              <a
                href="https://calendly.com/karthikvishwa/shortmeeting"
                target="_blank"
                >Book a Meeting</a
              >
            </button>
          </div>
        </div>
        <div
          class="col-lg-5 col-xl-5 col-md-5 col-sm-12 pt-2 pl-5 pt-2 pl-5"
          style="z-index: 99"
        >
          <div *ngIf="EmailInput">
            <h1 style="font-size: 32px" class="pb-0 mb-1">Forgot password!</h1>
            <p style="color: white" class="pt-0">
              please enter your email address to reset your password
            </p>

            <form class="" #signUpForm="ngForm">
              <div class="about_formfield">
                <p class="">Email</p>

                <input
                  class="login_email_filed p-3"
                  placeholder="JonDoe@gmail.com"
                  required
                  matInput
                  ngModel
                  name="email"
                  autocomplete="off"
                />
              </div>
            </form>

            <div class="text-center">
              <button
                (click)="getOtpEmail(signUpForm.value)"
                #submit
                mat-button
                class="submit_btn"
                [disabled]="signUpForm.invalid"
              >
                Get OTP
              </button>
            </div>

            <div
              style="
                text-align: center;
                color: white;
                font-size: 22px;
                padding-top: 10px;
              "
            >
              <p>
                Already have an account ?
                <a routerLink="/login">Sign In</a> here.
              </p>
            </div>
          </div>
          <div *ngIf="hideAuthCode">
            <p style="color: white; font-size: 14px" class="pt-0 pb-2">
              Enter OTP send to your email: {{ emailForgotPassword }}
            </p>
            <form
              #twoStepCodeForm="ngForm"
              class="digit-group"
              autocomplete="off"
            >
              <div class="row m-0 p-0">
                <div class="col-2 pl-0">
                  <input
                    ngModel
                    #input1
                    (keyup)="input1.value.length == 1 ? input2.focus() : ''"
                    type="text"
                    maxlength="1"
                    id="digit-1"
                    name="input1"
                    data-next="digit-2"
                  />
                </div>
                <div class="col-2 pl-0">
                  <input
                    ngModel
                    #input2
                    (keyup)="input2.value.length == 1 ? input3.focus() : ''"
                    type="text"
                    maxlength="1"
                    id="digit-2"
                    name="input2"
                    data-next="digit-3"
                    data-previous="digit-1"
                    (keydown.backspace)="
                      input2.value.length == 0 ? input1.focus() : ''
                    "
                  />
                </div>
                <div class="col-2 pl-0">
                  <input
                    ngModel
                    #input3
                    (keyup)="input3.value.length == 1 ? input4.focus() : ''"
                    type="text"
                    maxlength="1"
                    id="digit-3"
                    name="input3"
                    data-next="digit-4"
                    data-previous="digit-2"
                    (keydown.backspace)="
                      input3.value.length == 0 ? input2.focus() : ''
                    "
                  />
                </div>
                <!-- <span class="splitter">&ndash;</span> -->
                <div class="col-2 pl-0">
                  <input
                    ngModel
                    #input4
                    (keyup)="input4.value.length == 1 ? input5.focus() : ''"
                    type="text"
                    maxlength="1"
                    id="digit-4"
                    name="input4"
                    data-next="digit-5"
                    data-previous="digit-3"
                    (keydown.backspace)="
                      input4.value.length == 0 ? input3.focus() : ''
                    "
                  />
                </div>
                <div class="col-2 pl-0">
                  <input
                    ngModel
                    #input5
                    (keyup)="input5.value.length == 1 ? input6.focus() : ''"
                    type="text"
                    maxlength="1"
                    id="digit-5"
                    name="input5"
                    data-next="digit-6"
                    data-previous="digit-4"
                    (keydown.backspace)="
                      input5.value.length == 0 ? input4.focus() : ''
                    "
                  />
                </div>
                <div class="col-2 pl-0">
                  <input
                    ngModel
                    #input6
                    (keyup)="input6.value.length == 1 ? submit.focus() : ''"
                    type="text"
                    maxlength="1"
                    id="digit-6"
                    name="input6"
                    data-previous="digit-5"
                    (keydown.backspace)="
                      input6.value.length == 0 ? input5.focus() : ''
                    "
                  />
                </div>
              </div>
            </form>

            <div class="text-center pt-4">
              <button
                (click)="verifyOtp(twoStepCodeForm)"
                #submit
                mat-button
                class="submit_btn"
                [disabled]="twoStepCodeForm.invalid"
              >
                Verify
              </button>
            </div>
          </div>

          <div *ngIf="showrePassword">
            <div class="about_formfield">
              <p class="">Enter password</p>

              <input
                matInput
                class="login_email_filed p-3"
                type="password"
                name="password"
                [(ngModel)]="password"
                #passwordCtrl="ngModel"
                required
                minlength="8"
              />

              <div
                style="color: white; font-size: 12px"
                *ngIf="passwordCtrl.invalid && passwordCtrl.touched"
              >
                <div *ngIf="passwordCtrl.errors">Password is required</div>
                <div *ngIf="passwordCtrl.errors">
                  Password must be at least 8 characters
                </div>
              </div>

              <p class="pt-4">Re-enter password</p>

              <input
                matInput
                class="login_email_filed p-3"
                type="password"
                name="rePassword"
                [(ngModel)]="rePassword"
                #rePasswordCtrl="ngModel"
                required
              />

              <div
                style="color: white; font-size: 12px"
                *ngIf="rePasswordCtrl.invalid && rePasswordCtrl.touched"
              >
                <div
                  style="color: white; font-size: 12px"
                  *ngIf="rePasswordCtrl.errors"
                >
                  Re-enter password is required
                </div>
              </div>
              <span
                style="color: white; font-size: 12px"
                *ngIf="password !== rePassword && rePasswordCtrl.touched"
              >
                Passwords must match.
              </span>
            </div>
            <div class="text-center">
              <button
                [disabled]="password !== rePassword"
                (click)="resetPassword()"
                #submit
                mat-button
                class="submit_btn"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0">
    <div class="col-6 offset-1">
      <p class="pt-5 mt-3 catenate_head">CATENATE CORP</p>
      <p class="catenate_text">8501 Wade Blvd, Ste 250</p>
      <p class="catenate_text">Frisco, Texas 75034</p>
      <div>
        <p class="pt-5 mt-3 catenate_head">Email</p>
        <p class="catenate_text">info@catenate.io</p>
      </div>
    </div>
    <div class="col-5"></div>
  </div>

  <div class="row m-0 bg-greyy">
    <div
      class="col-lg-3 col-md-6 offset-md-1 col-sm-8 offset-sm-2 col-10 offset-1"
    >
      <img alt="logo" src="../../../assets/images/MayaMaya-Logo.png" />
      <p class="copyright">Copyright 2022 | Catenate | Disclaimer</p>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-4 col-6 list">
      <p class="pt-5">FOR PROFESSIONALS</p>
      <p>FOR INTERNS</p>
      <p>FOR BUSINESS</p>
      <p>FOR COMPLIANCE</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-8 list">
      <p class="pt-5">ABOUT MAYAMAYA</p>
      <p>MAYAMAYA</p>
      <p>MAYAMAYA</p>
    </div>
  </div>
</div>
