@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@import "../../../../assets/styles/variable.scss";

// $BaseBG: #050d19;

.bg {
  background-image: repeating-linear-gradient(
      161deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.05) 10px,
      rgba(255, 255, 255, 0.05) 11px
    ),
    repeating-linear-gradient(
      13deg,
      transparent,
      transparent 10px,
      rgba(255, 255, 255, 0.05) 10px,
      rgba(255, 255, 255, 0.05) 11px
    );
  background-color: $Primary_Blue;
  background-size: auto auto;
  position: fixed;
  width: 100%;
  z-index: 999;
  img {
    width: 4.5rem;
    height: 3rem;
    margin: 0.8rem 0 0.8rem 2rem;
  }
}

.content {
  padding-top: 4%;
  // padding-left: 2%;
  background: linear-gradient(#f5f1ee, #e2dcd6);
}
.img1 {
  width: 100%;
  background: linear-gradient(#0f1f2199, #060a0e);
  position: absolute;
  height: 1000px;
  z-index: 9;
  border-radius: 0px;
}

@media (max-width: 768px) {
  .img1 {
    height: 1520px;
  }
}
@media (max-width: 653px) {
  .img1 {
    height: 1500px;
  }
}
@media (max-width: 448px) {
  .img1 {
    height: 1800px;
  }
}

.imgg {
  position: relative;
}
.head {
  letter-spacing: 3px;
  font-size: 32px;
  color: white;
  font-weight: 500;
  // padding-left: 10px;
}
.head2 {
  letter-spacing: 3px;
  font-size: 19px;
  color: white;
  font-weight: 600;
  padding-left: 5px;
}
.text_12 {
  // text-indent: -1.1em;
  //   text-indent: -1.1em;

  font-weight: 300;
  font-size: 19px;
  color: white;
  text-align: left;
  line-height: 1.5255;
}
.text_1 {
  text-indent: -1.1em;
  //   text-indent: -1.1em;

  font-weight: 300;
  font-size: 19px;
  color: white;
  text-align: left;
  line-height: 1.5255;
}
.talk {
  font-weight: bold;
  color: #112638;
  font-size: 25px;
  letter-spacing: 1px;
}

.meet {
  background-color: #ffffff;
  color: rgb(6, 25, 61);
  border-radius: 20px;
  font-size: 18px;
}
.meet1 {
  background-color: #ffffff;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  padding: 2px 10px;
  margin: 15px 0px;
}
.img-pos1 {
  position: absolute;
  top: 80px;
  margin-right: 0;
  h1 {
    color: white;
    font-size: 80px;
  }
  .head {
    letter-spacing: 3px;
    font-size: 32px;
    color: white;
    font-weight: 500;
    // padding-left: 10px;
  }
  .head2 {
    letter-spacing: 3px;
    font-size: 19px;
    color: white;
    font-weight: 600;
    padding-left: 5px;
  }
  .text_1 {
    text-indent: -1.1em;
    //   text-indent: -1.1em;

    font-weight: 300;
    font-size: 19px;
    color: white;
    text-align: left;
    line-height: 1.5255;
  }

  .text_12 {
    // text-indent: -1.1em;
    //   text-indent: -1.1em;

    font-weight: 300;
    font-size: 19px;
    color: white;
    text-align: left;
    line-height: 1.5255;
  }
  .about_formfield {
    p {
      color: white;
      font-size: 17px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background: white;
      border-radius: 5px;
    }
  }
  .submit_btn {
    font-size: 14px;
    background: $Primary_RedGradient;
    width: 20%;
    color: #fff;
    margin-left: 5px;
    margin-top: 30px;
    box-shadow: -2px -8px 13px 5px rgb(255 255 255 /5%);
  }
}
.bg-greyy {
  background-color: #050d19;
  img {
    margin-top: 18%;
    width: 39%;
  }
}
.copyright {
  color: #fff;
  font-weight: 500;
}
.list {
  p {
    font-size: 18px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
  }
}
.catenate_head {
  font-weight: 600;
  color: #0f263b;
  font-size: 20px;
  letter-spacing: 1px;
}
.catenate_text {
  font-weight: 500;
  color: #0f263b;
  font-size: 18px;
  letter-spacing: 1px;
}
.digit-group {
  input {
    width: 100%;
    height: 110px;
    background-color: #fff;
    // border: 1.5px solid $BaseBG;
    line-height: 50px;
    text-align: center;
    // font-family: $font-family;
    font-size: 24px;
    font-weight: 200;
    // color: $BaseBG;
    padding: 0 1px;
    // margin: 0 1px;
  }

  .splitter {
    padding: 0 5px;
    color: white;
    font-size: 24px;
  }
}
.login_email_filed {
  width: 100%;
}

.bg_women_img {
  height: 1000px;
  width: 100%;
}
@media (max-width: 768px) {
  .bg_women_img {
    height: 1520px;
  }
}

@media (max-width: 653px) {
  .bg_women_img {
    height: 1500px;
  }
}

@media (max-width: 448px) {
  .bg_women_img {
    height: 1800px;
  }
}
