@import "../../../../src/assets/styles/variable.scss";
.title_candidates {
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 35px;
  font-family: $Titillium_Bold;
}

.roles_header {
  // padding-top: 20px;
  display: flex;
  width: 100%;
  padding-top: 35px;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 44px;
    font-family: $Titillium_Bold;
  }
}
// **************************************************************
.add_Applicants_btn {
  background: $Primary_greenGradient; // Sets the  color using $Primary_greenGradient variable.scss
  color: white;
  border: none;
  height: 41px;
  width: 135px;
  padding-right: 17px;
  border-radius: 30px;
  cursor: pointer;
  //   padding: 10px 25px 10px 25px;
  font-size: 12px;
  i {
    font-size: 16px;
    padding-right: 5px;
    padding-top: 3px;
  }
}
.add_Applicants_btn_employee {
  background: $Primary_RedGradient; // Sets the  color using $Primary_greenGradient variable.scss
  color: white;
  margin-right: 20px;
  border: none;
  height: 41px;
  width: 180px;
  border-radius: 30px;
  padding-right: 15px;
  cursor: pointer;
  //   padding: 10px 25px 10px 25px;
  font-size: 12px;
  i {
    font-size: 16px;
    padding-right: 5px;
    padding-top: 3px;
  }
}
// ***********FILTERS CARDS***************
.roles_filter_container {
  padding-top: 30px;
}
.filter_card {
  background-color: $cards_Bg;
  border-radius: 5px;
  width: 100%;
  // height: 150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 25px 25px 10px 30px;
}
// ******************roles search INput******************
.filter_title {
  font-size: 15px;
  font-family: $Titillium_Bold;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 13px;
}
.role_input_container {
  .role_search_input {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #cdcdcd;
    background: none;
    padding: 0.7rem 2rem 0.7rem 0.7rem;
    margin-right: -2rem;
  }
  .role_search_input:focus {
    outline: none;
  }
  .role_search_input::-webkit-input-placeholder {
    font-family: $Titillium_Regular;
  }
}
.serach_button .role_search__button {
  display: flex;
  border: none;
  background: none;
  margin-top: 0.1em;
  width: 100%;
}

.role_search__icon:hover {
  cursor: pointer;
}

.role_search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}

// ******************BULK ACTIONS DROP DOWN*********************
.Bulk_actions {
  width: 100%;
  img {
    padding-right: 5px;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    height: 39px;
  }

  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 8px;
    color: green;
  }

  ::ng-deep .mat-mdc-select-placeholder {
    color: black;
    font-family: $Titillium_Regular;
    font-weight: 600;
    letter-spacing: 1px;
  }
  ::ng-deep .mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
    font-family: $Titillium_Regular !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
  }
  ::ng-deep .mat-mdc-select-arrow-wrapper {
    display: none;
  }

  :ng-deep .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-outline {
    color: rgb(255, 0, 0);
  }

  ::ng-deep .mat-mdc-select-arrow-wrapper::before {
    content: url("../../../assets/icons/downArrowExpand.svg");
    /* or */
    /* content: url('../path/to/custom-arrow.png'); */
    /* Replace the default arrow with your custom icon */
    display: visibility;
    width: 24px;
    height: 24px;
  }
}
.Bulk_actions_select_options {
  font-family: $Titillium_Regular;
  font-weight: 500;
}

.drop_down_arrow_icon {
  right: -10px;
  position: absolute;
}
// ******************iconscontainer*********************
.icons_container {
  // padding-top: 15px;
  margin-left: 10px;
  height: 100%;
  display: flex;
  // gap: 20px;
  justify-content: space-around;
  align-items: center;
  place-items: center;
  align-items: center;
  img {
    background: white;
    border-radius: 5px;
    padding: 8px;
    height: 38px;
  }
}

// ******************checkbox****************
.mat_checkbox_candidates_header {
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    // border-color: $primary_checkBoxColor;
    width: 20px;
    height: 20px;
    border: 1.5px solid rgb(0, 0, 0);
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:focus:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    width: 20px;
    height: 20px;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    color: $primary_checkBoxColor;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    border-color: $primary_checkBoxColor;
    width: 20px;
    height: 20px;
  }

  ::ng-deep .mdc-checkbox .mdc-checkbox__background {
    top: calc((var(--mdc-checkbox-state-layer-size) - 20px) / 2);
    left: calc((var(--mdc-checkbox-state-layer-size) - 20px) / 2);
  }
}
// ************DELETE BUTTON***************
.delete_btn {
  margin-left: 20px;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  font-family: $Titillium_Regular;
  background: transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

// <!-- ************************ROLE CARDS******************* -->
.role_cards_container {
  padding-top: 15px;
  .role_card {
    background-color: $cards_Bg;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
.role_card_header {
  display: flex;
  justify-content: space-between;
}
.role_new_btn {
  height: 20px;
  width: 40px;
  background: $Primary_greenGradient;
  color: white;
  font-size: 9px;
  border-radius: 2px;
  margin-top: 10px;

  outline: none;
  border: none;
}
.role {
  font-size: 11px;
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 0px;
}
// .role_title {
//   font-size: 18px;
//   font-weight: 700;
// }

.role_title {
  font-size: 17px;
  font-weight: 700;
  font-family: $Titillium_Bold;
  margin-bottom: 6px;
  overflow: hidden;
  height: 37px;
  text-overflow: ellipsis;
  width: 96%;
  white-space: nowrap;
}
@media only screen and (max-width: 1200px) {
  .role_title {
    font-size: 12px;
    display: inline-block;
    width: 130px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

.role_actions_container {
  display: flex;
  justify-content: space-between;
}
.role_actions {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-top: 10px;
  img {
    margin-bottom: 5px;
    height: 20px;
  }
}
.role_date {
  font-size: 12px;
}
// **************check box for role cards**************
.mat_checkbox_role {
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    // border-color: $primary_checkBoxColor;
    width: 18px;
    height: 18px;
    border: 1px solid black;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:focus:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    width: 18px;
    height: 18px;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled
    ~ .mdc-checkbox__background
    .mdc-checkbox__checkmark {
    color: $primary_checkBoxColor;
  }
  ::ng-deep
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:checked
    ~ .mdc-checkbox__background {
    background-color: white;
    border-color: $primary_checkBoxColor;
    width: 18px;
    height: 18px;
  }

  ::ng-deep .mdc-checkbox .mdc-checkbox__background {
    top: calc((var(--mdc-checkbox-state-layer-size) - 18px) / 2);
    left: calc((var(--mdc-checkbox-state-layer-size) - 18px) / 2);
  }
}
// ******************vertiacl menu****************
.trigger_menu {
  img {
    height: 50px !important;
  }
  ::ng-deep .mat-mdc-menu-panel.mat-mdc-menu-panel {
    border-radius: 20px !important;
  }
  ::ng-deep
    .mat-mdc-menu-content
    .mat-mdc-menu-item
    .mdc-list-item__primary-text {
    font-family: $Titillium_Regular !important;
    font-size: 20px !important;
  }
}
.menu_options {
  padding-left: 5px;
  font-size: 14px;
  font-family: $Titillium_Regular;
  color: black;
}
// *************
.bg-dailog {
  background: linear-gradient(#1e4b4f, #0c141d);
  height: 120px;
}
.dialogheader_container {
  color: white;
}
.dialog_col {
  padding: 25px 25px 0 25px;
}
.close_icon_dialog {
  padding: 30px 50px 0 0;
  cursor: pointer;
  img {
    float: right;
    height: 25px;
  }
}
.sub_txt1 {
  font-size: 12px;
}
.sub_txt2 {
  font-size: 22px;
  font-family: $Titillium_Bold;
}
.sub_txt3 {
  font-size: 12px;
}
.role_dialog_container {
  padding: 50px;
  background: $cards_Bg;
  b {
    font-weight: 800;
  }
}

.search_img_role {
  right: -10px;
  position: absolute;
  opacity: 0.5;
  height: 20px;
  padding-right: 10px;
}
// *************button inside dialog box*************
.convert_btn {
  background: $Primary_greenGradient; // Sets the  color using $Primary_greenGradient variable.scss
  color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  border: none;
  height: 46px;
  width: 160px;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  //   padding: 10px 25px 10px 25px;
  font-size: 13px;
  i {
    font-size: 16px;
    padding-right: 5px;
    padding-top: 3px;
  }
}

.convert_btn.disabled {
  background-color: #ccc; /* Grey color for background */

  cursor: not-allowed;

  color: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

  border: none;
  height: 46px;
  width: 160px;
  border-radius: 30px;

  //   padding: 10px 25px 10px 25px;
  font-size: 13px;
  i {
    font-size: 16px;
    padding-right: 5px;
    padding-top: 3px;
  }
}
// ******************* role_dialog_btn_container ******************
.role_dialog_btn_container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  gap: 37px;
  u {
    font-family: $Titillium_Bold;
  }
}

// <!--***********create new role************** -->
::ng-deep .mat-mdc-select-panel.evaluation_select_panel {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  margin-top: 7px;
}
.new_role_content {
  padding: 35px;
  background: $cards_Bg;

  .status_filter {
    width: 380px;
    ::ng-deep
      .mat-mdc-form-field-flex
      .mdc-notched-outline
      .mdc-notched-outline__trailing {
      border-radius: 0 25px 25px 0;
      // border: 1px solid yellow;
      border-top: 1px solid rgba(162, 162, 162, 0.5);
      border-bottom: 1px solid rgba(162, 162, 162, 0.5);
      border-right: 1px solid rgba(162, 162, 162, 0.5);
    }

    ::ng-deep
      .mat-mdc-form-field-flex
      .mdc-notched-outline
      .mdc-notched-outline__leading {
      border-radius: 25px 0 0 25px;
      border-top: 1px solid rgba(162, 162, 162, 0.5);
      border-bottom: 1px solid rgba(162, 162, 162, 0.5);
      border-left: 1px solid rgba(162, 162, 162, 0.5);

      width: 25px !important;
    }
    ::ng-deep .mat-mdc-text-field-wrapper {
      height: 40px;
      //   background: $Primary_greenGradient;
      padding: 3px 10px 0 10px;
    }

    ::ng-deep
      .mat-mdc-text-field-wrapper.mdc-text-field--outlined
      .mat-mdc-form-field-infix {
      padding-top: 5px;
    }

    ::ng-deep .mat-mdc-select-placeholder {
      font-family: $Titillium_Regular;
      font-size: 14px;
    }
  }

  .role_search_input {
    width: 380px;
    border-radius: 50px;
    height: 40px;
    border: 1px solid rgba(162, 162, 162, 0.5);
    background: none;
    padding: 0.7rem 2rem 0.7rem 0.9rem;
    margin-right: -2rem;
  }
  .role_search_input:focus {
    outline: none;
  }
  // .role_search_input::-webkit-input-placeholder {
  //   font-family: $Titillium_Bold;
  // }
}
.input_chips {
  width: 100%;

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border: 1px solid black;
    border-radius: 30px;
    height: 40px;
    background: transparent;
  }
  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background: white;
  }

  ::ng-deep .mdc-line-ripple {
    display: none;
  }
}

.row_2 {
  margin: 0;
  padding: 25px 0 0 0;
}
//*************auto_complete_dialog*************
// .auto_complete_options {
//   ::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
//     // width: 100% !important;
//     display: block;
//     width: 100%;
//   }
// }
.auto_complete_dialog {
  width: 100%;

  // ::ng-deep .mat-mdc-form-field-flex {
  //   height: 41px;
  // }
  // ::ng-deep .mat-mdc-text-field-wrapper {
  //   padding: 4px 10px 0 10px;

  // }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    background: white;
  }
  ::ng-deep .mat-mdc-form-field-focus-overlay {
    background: white;
  }
  ::ng-deep .mat-mdc-select-arrow {
    display: none;
  }
  ::ng-deep .mdc-line-ripple {
    display: none;
  }

  .drop_down_arrow_icon {
    right: -10px;
    position: absolute;
  }
}
// ******************
.input-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(162, 162, 162, 0.5);
  border-radius: 40px !important;
  height: 40px;
  padding: 2px 2px 2px 10px;
  border-radius: 4px;
  max-width: 380px; /* Set a maximum width for the input field */
  overflow: hidden; /* Hide overflowing content */
}

.chip {
  background: $Primary_greenGradient;
  color: white;
  font-family: $Titillium_Regular;
  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  //   rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  //   rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 12px;
  padding: 5px 8px 5px 8px;
  margin: 2px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.chip span {
  cursor: pointer;
  margin-left: 4px;
  // font-family: $Titillium_Bold;
  font-size: 17px;
  padding-left: 4px;
}

.more-chip {
  font-family: $Titillium_Regular;
  background: $Primary_greenGradient;
  color: white;
  padding: 5px;
  margin: 2px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex: 1 1 100%;
}

input {
  border: none;
  font-family: $Titillium_Regular;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background: transparent;
  max-width: 100%; /* Allow the input to expand as much as possible */
}
// ******************role qns dialog******************
.outer-container {
  position: relative;
  padding: 15px 30px;
}
.roleQNScontainer {
  max-height: 500px;
  overflow-y: scroll;

  padding: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(214, 212, 212);
  border-radius: 10px;
  // background-color: yellow;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d8d8d;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #b30000;
// }
.qns_ans {
  p {
    font-size: 19px;
  }
}
.btn-group {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-around !important;
  gap: 40px;
}

.btn {
  background-color: white !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px 5px 5px 5px !important;
  border: none;
}

.btn:hover {
  background: $Primary_greenGrdientReverse !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  color: white;
}
.btn.selected {
  background: $Primary_greenGrdientReverse !important;

  color: white;
}
// ********************
.role_dialog_btn_container_newrole {
  display: flex;
  // width: 100%;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
  gap: 37px;
  padding-top: 80px;
  u {
    font-family: $Titillium_Bold;
  }
}
// *******************paginator**************************
.paginator_roles {
  display: flex;
  justify-content: end;
  align-items: center;
  place-items: end;
  p {
    font-size: 15px;
    font-family: $Titillium_Bold;
  }
}
.page1 {
  background: transparent;
  color: #000;
  padding-top: 10px;
  ::ng-deep .mat-mdc-paginator-page-size {
    display: none !important;
  }

  ::ng-deep .mat-mdc-paginator-icon {
    background: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
  }
  ::ng-deep .mat-mdc-paginator-range-label {
    display: none;
    // font-weight: 500;
    // margin: 12px 0px 0 24px;
    // font-size: 15px;
    // word-spacing: -1.5px;
  }

  ::ng-deep
    .mat-mdc-icon-button:hover
    .mat-mdc-button-persistent-ripple::before {
    display: none !important;
  }

  ::ng-deep
    .mat-mdc-icon-button:active
    .mat-mdc-button-persistent-ripple::before {
    display: none !important;
  }

  ::ng-deep .mat-mdc-button-persistent-ripple .mdc-icon-button__ripple {
    display: none import !important;
  }
}
.user_icon_employees {
  color: black;
  height: 35px;
  width: 35px;
}
// ****************ROLESQUESTIONS***********
.qns_role {
  font-size: 16px;
  // padding-top: 5px;
}
.question_cat {
  font-size: 17px;
  font-family: $Titillium_Bold;
  padding-bottom: 10px;
  margin-top: 15px;
}
.slider_container {
  display: flex;
  place-items: end;
}
// ************DELETE ROLE DIALOG *********
.dialog_container {
  background: $Primary_greenGradient;
  color: white;
}
.head_container {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.dialog_tittle {
  color: white;

  font-size: 27px;
  font-family: $Titillium_Bold;

  line-height: 1.5;
}
.button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.done_btn {
  background: white;
  border-radius: 50px;
  color: black;
  width: 150px;
  height: 50px;
  font-size: 14px;
  font-family: $Titillium_Bold;
  outline: none;
  //   font
}
.sub_txt {
  color: white;
  font-size: 13px;
  font-family: $Titillium_Light;
}
.close_icon {
  cursor: pointer;
}
.description_container {
  padding: 30px;
  overflow-y: scroll;
  height: 500px;
  ::-webkit-scrollbar {
    width: 5px;
  }
}
.header_description {
  display: flex;
  gap: 2px;
  align-items: center;

  b {
    font-size: 20px;
    font-family: $Titillium_Bold;
    width: 16%;
  }
}
.copyandGenerate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.copy_description {
  cursor: pointer;
  background-color: $Primary_Blue;
  border-radius: 50px;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  img {
    height: 13px;
  }
}
.item1_filter {
  flex-grow: 1;
}
.generate_btn {
  background: $Primary_Blue;
  // width: 220px;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50px;
  font-size: 12px;
  padding: 11px 28px 11px 16px;
  img {
    padding-right: 9px;
    height: 15px;
  }
}
.content_description {
  padding: 30px 0 30px 0;
}
