@import "../../../../assets/styles/variable.scss";

.bg_GreenGradient {
  background: $Primary_greenGradient;
  height: 300px;
  color: white;
}
.title_candidates {
  color: white;
  p {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 35px;
    // font-weight: 700;
  }
}
// **************Header**************
.header_container {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  .item1 {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    .item2 {
      align-items: start;
    }
  }
}
.back_btn {
  height: 38px;
  width: 38px;
}
.Analysis_txt {
  font-size: 43px;
  font-family: $Titillium_Bold;
}

.sub_title {
  padding-top: 15px;
  padding-left: 55px;
}
// ******************MAIN CONTAINER******************
.employees_card_header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
// ***************drop downs**************
.status_filter {
  width: 130px;
  ::ng-deep
    .mat-mdc-form-field-flex
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0 25px 25px 0;
  }

  ::ng-deep
    .mat-mdc-form-field-flex
    .mdc-notched-outline
    .mdc-notched-outline__leading {
    border-radius: 25px 0 0 25px;
    width: 25px !important;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px;
    //   background: $Primary_greenGradient;
    padding: 3px 10px 0 10px;
  }

  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 5px;
  }

  ::ng-deep .mat-mdc-select-placeholder {
    font-size: 12px;
    font-family: $Titillium_Bold;
  }
}
.period_filter {
  margin-left: 30px;
  width: 170px;
  ::ng-deep
    .mat-mdc-form-field-flex
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0 25px 25px 0;
  }

  ::ng-deep
    .mat-mdc-form-field-flex
    .mdc-notched-outline
    .mdc-notched-outline__leading {
    border-radius: 25px 0 0 25px;
    width: 25px !important;
  }
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px;
    //   background: $Primary_greenGradient;
    padding: 3px 10px 0 10px;
  }

  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 5px;
  }

  ::ng-deep .mat-mdc-select-placeholder {
    font-size: 12px;
    font-family: $Titillium_Bold;
  }
}
.main_container {
  margin-top: 40px;
}
.download_add_container {
  display: flex;
  // justify-content: end;
  gap: 15px;
}
.top_employees_card {
  border-radius: 12px;
  padding: 30px 40px 30px 40px;
}
.employee_title {
  font-size: 24px;
  font-weight: 700;
}

// **************************
.download_report {
  outline: 1px solid #505050;
  padding: 5px;
  border-radius: 50px;
}
.img_bg {
  background-color: #e9e9e9;
  padding: 8px 10px 10px 10px;
  display: inline;
  border-radius: 50px;
  height: 40px;
}
.add_btn_employee {
  width: 90px;
  border: none;
  background-color: #e9e9e9;
  height: 40px;
  border-radius: 50px;
  padding: 8px 15px 8px 8px;
}
.add_report {
  outline: 1px solid #505050;
  padding: 5px;
  border-radius: 50px;
  margin-right: 7px;
}
// **********************table*******************
.employee_table {
  margin-top: 20px;
}
.table_head {
  font-size: 14px;
  font-family: $Titillium_Bold;
}
.profile_icn {
  height: 25px;
  width: 25px;
}
.table_row {
  margin-top: 10px;
}
.table_td {
  padding: 20px 10px 10px 0;
}
// ***********BENKCHMARK TABLE***********
.benchmark_card {
  border-radius: 12px;
  padding: 30px 40px 30px 40px;
  margin-top: 30px;
}
.benchmark_card_header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.benchmark_item1 {
  display: flex;
  gap: 70px;
}

.report_btn_employee {
  width: 190px;
  border: none;
  background-color: #e9e9e9;
  height: 40px;
  border-radius: 50px;
  padding: 8px 15px 8px 8px;
  font-size: 13.5px;
}
.on_track {
  background: #f3f8e6;
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  color: #829d46;
}
.approaching {
  background: #f6ecd8;
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  color: #fdbb3a;
}
.behind {
  background: #f7dbdb;
  border-radius: 50px;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  color: #a43b00;
}
